<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Vue.js.</title>

    <!-- Vue.js のスクリプト読み込み-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="newItem.text" />
        <button v-on:click="addItem">Add</button>

        <!--
            作成したコンポーネントの利用
            ・タグ名を作成したコンポーネント名とする
            ・v-bind にてコンポーネントのプロパティを指定する
        -->
        <sample-component v-for="item in items"
                v-bind:id="item.id"
                v-bind:text="item.text"></sample-component>
    </div>
    <script src="app.js"></script>
</body>

</html>